/* =========================
NAVIGATION
=========================== */
#navBar {
	width: $navBarWidth;
	min-height: $navbarMinHeight;
	background: $navbarColor;
	@include box-sizing (border-box);
	@include transition (all .7s ease);
	
	// Hide Header Under Nav For Small Size
	@include breakpoint(meatwad) {
		position: relative;
		z-index: 9;
		top: $navBarScoot;
	}
}

/* Mobile Menu Pulls Content Up */
.content {
	@include breakpoint (meatwad) {
		@include transition (all .7s ease);
		top: $navBarScoot + $menuButtonHeight + 1em;
		margin-bottom: -8em; // To fix the blank space at the bottom of the content
	}
}

.mainNav, .social {
	padding: 0;
}

#menuButton {
	width: 4em;
	height: $menuButtonHeight;
	margin: 0 auto;
	background: $navbarColor;
	display: none;
	
	@include breakpoint(meatwad) {
		display: block;
	}
}

#menuButtonCheck {
	margin-left: -100em; /* Hide Check Button */
	position: absolute;
	top: 0;
}

#menuButton {
	&:before, &:after {
		position: absolute;
		z-index: 10;
		width: 1em;
		font-family: Arial;
		left: 50%;
		margin-left: -0.5em;
		line-height: 1em;
		text-align: center;
		background: $navbarColor;
		@include transition ( all .7s ease );
	}
}

#menuButton:before {
	content: "\25b2";
	color: $pageOnColor;
	font-size: 1.6em;
	padding-top: 0.3em;
	text-shadow: 4px 4px 6px rgba(0,0,0,0.6);
	opacity: 0;
}

#menuButton:after {
	content: "\2261";
	font-size: 3em;
	color: $mainNavFontColor;
	background: $navbarColor;
	@include transform( scaleX(1.3) );
	opacity: 1;
}

#menuButtonCheck:checked {
	& + #menuButton:after {
		opacity: 0;
	}
	& + #menuButton:before {
		opacity: 1;
	}
}

#menuButtonCheck:checked {
	@include breakpoint(meatwad) {
		& ~ #navBar, & ~ .content {
			top: -3em;
			margin-bottom: 0;
		}
	}
}

.mainNav {
	float: left;
	position: relative;
	width: $mainNavWidth;
	white-space: nowrap;
	@include box-sizing (border-box);
	padding: 0.6% 0 0.8% 2%;
	
	@include breakpoint(frylock) {
		float: none;
		width: 100%;
		text-align: center;
		padding: 0.3% 0 2%;
	}
	
	@include breakpoint(meatwad) {
		float: left;
		width: auto;
		text-align: left;
		padding: 0.3% 2%;
	}
	
	li {
		display: inline-block;
		list-style-type: none;
		margin: .7% 4% 0 0;	
		font-size: $mainNavFontSize;
		font-weight: 700;
		text-transform: uppercase;
		color: $mainNavFontColor;
		@include transition(all .1s ease-in);
		
		a {
			color: inherit;
			text-decoration: none;
			@include transition(all .1s ease-in);
			
			&:hover, &:focus, &:active {
				color: $navItemHoverColor;
				outline: 0;
				text-shadow: 5px 4px 6px rgba(0,0,0,0.6);
			}
		}
		
		&:hover {
			@include hoverScale ($mainNavHoverScaleFactor)
		}
		
		@include breakpoint(shake) {
			font-size: $mainNavFontSize - .09em;
			margin: 0.7% 2% 0 0;
		}
		
		@include breakpoint(meatwad) {
			display: block;
			width: 100%;
			font-size: $mainNavFontSize;
			line-height: $mainNavFontSize + .6em;
			
			&:hover {
				@include hoverScale(1);
			}
		}
	}
	
	.page-on {
		color: $pageOnColor;
		
		&:hover {
			-ms-transform: none;
			-webkit-transform: initial;
			transform: initial;
			transform: none;
		}
		
		a {
			&:hover {
				color: $pageOnColor;
				text-shadow: none;
			}
		}
	}
}

.social {
	float: right;
	width: $socialWidth;
	@include box-sizing (border-box);
	white-space: nowrap;
	text-align: right;
	font-family: 'socialicon';
	font-size: $socialIconFontSize;
	padding: $socialPadding;
	line-height: 1.1em;
	overflow: visible;
	
	@include breakpoint(frylock) {
		float: none;
		white-space: normal;
		margin-top: -1.3%;
		padding: 0 0 0.7% 2%;
		width: 100%;
		text-align: center;
		line-height: 0.9em;
	}
	
	@include breakpoint(meatwad) {
		float: right;
		width: auto;
		padding: 1.1% 2.8% 0.7%;
		margin-top: 0;
		line-height: 1.1em;
	}
	
	a {
		color: inherit;
		text-decoration: none;
		color: $socialIconFontColor; 
		@include transition(all .1s ease-in);
		
		&:hover, &:focus {
			color: $navItemHoverColor;
			outline: 0;
			text-shadow: 5px 4px 6px rgba(0,0,0,0.6);
		}
	}
	
	li {
		display: inline-block;
		list-style-type: none;
		vertical-align: baseline;
		text-align: center;
		width: $socialIconWidth;
		@include transition(all .1s ease-in);	
		
		@include breakpoint(frylock) {
			width: 8%;
		}
				
		&:hover, &:focus {
			@include hoverScale ($socialIconHoverScaleFactor) ;
			color: $navItemHoverColor;
			outline: 0;
			text-shadow: 5px 4px 6px rgba(0,0,0,0.6);
		}
		
		@include breakpoint(meatwad) {
			width: 100%;
			display: block;
			
			&:hover, &:focus {
				@include hoverScale(1);
			}
		}
	}
}

